<section>
    <h2>Crie sua própria sala</h2>
    <form action="/new-room" method="POST">
        <label class="scren-only" for="room-password">Insira uma senha</label>
        <input type="password" id="room-password" name="password" placeholder="Insira uma senha">
        <button>
            <img src="./assets/img/users-white.svg" alt="">
            Criar senha
        </button>
    </form>
</section>